{{! Challenges Tab }}
<section
  class='tab challenges {{tab.cssClass}}'
  data-group='primary'
  data-tab='challenges'
>
  <section class='grid grid-3col'>
    {{! For the main challenges list, span the right two columns }}
    <section class='main grid-span-3'>
      <ol class='items-list'>
        <li class='item flexrow items-header'>
          <div class='item-name'>{{localize 'Name'}}</div>
          <div class='item-controls'>
            {{#if @root.editable}}
              <a
                class='item-control item-create'
                title='Create item'
                data-action='createDoc'
                data-document-class='Item'
                data-type='challenge'
              >
                <i class='fas fa-plus'></i>
                {{localize 'DOCUMENT.New' type='challenge'}}
              </a>
            {{/if}}
          </div>
        </li>
        {{#each challenges as |item id|}}
          <li
            class='item flexrow'
            data-item-id='{{item._id}}'
            data-drag='true'
            data-document-class='Item'
          >
            <div class='item-name'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='roll'>
                  <img
                    src='{{item.img}}'
                    title='{{item.name}}'
                    width='24'
                    height='24'
                  />
                </a>
              </div>
              <div>{{item.name}}</div>
            </div>
            <div class='item-controls'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Edit" type='challenge'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
              {{#if @root.editable}}
                <a
                  class='item-control item-delete'
                  title='{{localize "DOCUMENT.Delete" type='challenge'}}'
                  data-action='deleteDoc'
                >
                  <i class='fas fa-trash'></i>
                </a>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>