<div id="grimwild-roll-dialog">
	<section class="grid grid-2col">
		<fieldset class="flexcol">
			<legend>{{localize "GRIMWILD.Dice.dice"}}</legend>
			<div class="dialog-character">
				<div class="dialog-stats grimwild-form-group">
					<label for="stat">{{localize (concat "GRIMWILD.Stat." stat ".long")}}</label>
					<input type="number" class="rollDice rollDiceInput" id="stat" name="stat" data-prev="{{diceDefault}}" data-action-input="updateDice" value="{{diceDefault}}" min="0">
				</div>
				<div class="dialog-spark grimwild-form-group">
					<label for="spark">{{localize "GRIMWILD.Actor.Character.FIELDS.spark.label"}}</label>
					{{#if hasSpark}}
						{{#each sparkArray}}
							<input type="checkbox" class="spark sparkCheck" id="spark-{{this}}" name="spark[{{this}}]" data-action-change="updateDice" value="1">
						{{/each}}
					{{else}}
						<p>None</p>
					{{/if}}
					{{!-- <input type="number" class="rollDice rollDiceInput" id="spark" name="spark" data-prev="0" data-action-input="updateDice" value="0" min="0" max="{{spark}}"> --}}
				</div>
			</div>
			<div class="dialog-assists">
				<hr>
				<div id="assistContainer">
							<!-- Rows will be added here dynamically -->
				</div>
				<button type="button" id="addAssist" data-action="addAssist"><i class="fas fa-plus"></i>{{localize "GRIMWILD.Dice.assist"}}</button>
				<hr>
			</div>
			<div class="dialog-total grimwild-form-group">
				<label class="total">{{localize "GRIMWILD.Dice.total"}}</label>
				<span id="totalDice" class="total">0</span>
				<input type="hidden" id="totalDiceInput" name="totaDice">
			</div>
		</fieldset>

		<fieldset class="flexcol">
			<legend>{{localize "GRIMWILD.Dice.thorns"}}</legend>
			<div class="dialog-harm grimwild-checkbox-group">
				<div class="grimwild-form-group">
					<label for="marked">{{localize "GRIMWILD.Damage.marked"}}{{#if markIgnored}} ({{localize "GRIMWILD.Damage.ignored"}}){{/if}}</label>
					<input type="checkbox" class="thorn thornCheck" id="marked" name="thorns[marked]" data-action-change="updateThorns" value="1" {{#if isMarked}}checked{{/if}}>
				</div>
				<div class="grimwild-form-group">
					<label for="bloodied">{{localize "GRIMWILD.Damage.bloodied"}}</label>
					<input type="checkbox" class="thorn thornCheck" id="bloodied" name="thorns[bloodied]" data-action-change="updateThorns" value="1" {{#if isBloodied}}checked{{/if}}>
				</div>
				<div class="grimwild-form-group">
					<label for="rattled">{{localize "GRIMWILD.Damage.rattled"}}</label>
					<input type="checkbox" class="thorn thornCheck" id="rattled" name="thorns[rattled]" data-action-change="updateThorns" value="1" {{#if isRattled}}checked{{/if}}>
				</div>
				<div class="grimwild-form-group">
					<label for="vex">{{localize "GRIMWILD.Damage.vex"}}</label>
					<input type="checkbox" class="thorn thornCheck" id="vex" name="thorns[vex]" data-action-change="updateThorns" value="1">
				</div>
			</div>
			<div class="dialog-difficulty">
				<hr>
				<div class="grimwild-form-group">
					<label for="conditions">{{localize "GRIMWILD.Damage.conditions"}}</label>
					<input type="number" class="thorn thornInput" id="conditions" name="conditions" data-prev="0" data-action-input="updateThorns" value="0" min="0">
				</div>
				<div class="grimwild-form-group">
					<label for="difficulty">{{localize "GRIMWILD.Dice.difficulty"}}</label>
					<input type="number" class="thorn thornInput" id="difficulty" name="difficulty" data-prev="0" data-action-input="updateThorns" value="0" min="0">
				</div>
				<hr>
			</div>
			<div class="dialog-total grimwild-form-group">
				<label class="total">{{localize "GRIMWILD.Dice.total"}}</label>
				<span id="totalThorns" class="total">0</span>
				<input type="hidden" id="totalThornsInput" name="totalThorns">
			</div>
		</fieldset>
	</section>
</div>