<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{item.name}}'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    {{! You may prefer to have a separate header file instead of this if statement}}
    {{#if (eq item.type 'challenge')}}
      <div class="form-group">
        <label class='resource-label'>{{localize 'GRIMWILD.Item.Challenge.FIELDS.numDice.label'}}</label>
        <input
          type='text'
          name='system.pool.diceNum'
          value='{{system.pool.diceNum}}'
          data-dtype='Number'
        />
        <span>d</span>
      </div>
    {{/if}}
  </div>
</header>