{{#unless isPrivate}}
<section class="grimwild-chat grimwild-roll {{result}}">
  <div class="results">
    <h2>{{ startPool }} &#8594; {{ endPool }}</h2>
    <em>{{stat}}</em>
  </div>
  <div class="dice-tooltip expanded">
    <section class="tooltip-part">
      <div class="dice">
        <ul class="dice-rolls">
          {{#each dice as |die key|}}
            <li class="roll die d6 {{grimwildDie die.result}}">{{die.result}}</li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
</section>
{{/unless}}