{{#unless isPrivate}}
<section class="grimwild-chat grimwild-roll {{result}} stroke stroke-top">
  <div class="results">
    <h2>{{#if isCut }}
      {{localize (concat "GRIMWILD.Dice.results." rawResult)}} &#8594;
      {{/if}}
      {{localize (concat "GRIMWILD.Dice.results." result)}}</h2>
    {{#if stat}}<strong class="dice-stat">{{localize (concat "GRIMWILD.Stat." stat ".long")}}</strong>{{/if}}
  </div>
  <div class="dice-tooltip expanded">
    <section class="tooltip-part">
      <div class="dice">
        <ul class="dice-rolls">
          {{#each dice as |die key|}}
            <li class="roll die d6 {{grimwildDie die.result}}">{{die.result}}</li>
          {{/each}}
        </ul>
        {{#each assists}}
          <ul class="dice-rolls">
            <span> &#8594; {{@key}}</span>
            {{#each this as |die key|}}
              <li class="roll die d6 {{grimwildDie die.result}}">{{die.result}}</li>
            {{/each}}
          </ul>
          {{/each}}
        <ul class="dice-rolls">
          {{#each thorns as |die key|}}
            <li class="roll die d8 {{grimwildThorn die.result}}">{{die.result}}</li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
  {{#if hasActions}}
  <div class="action-links">
    {{#if isFail }}
    <div class="action-row action-marks flexrow">
      <strong>Marks</strong>
      <button data-action="applyMark" data-stat="bra">BRA</button>
      <button data-action="applyMark" data-stat="agi">AGI</button>
      <button data-action="applyMark" data-stat="wit">WIT</button>
      <button data-action="applyMark" data-stat="pre">PRE</button>
    </div>
    <div class="action-row action-harms flexrow">
      <strong>Harm</strong>
      <button data-action="applyHarm" data-harm="bloodied"><i class="fas fa-droplet"></i> Bloodied</button>
      <button data-action="applyHarm" data-harm="rattled"><i class="fas fa-brain"></i> Rattled</button>
    </div>
    {{/if}}
    {{#if (eq result "disaster")}}
    <div class="action-row action-spark">
      <button data-action="updateSpark"><i class="fas fa-bolt"></i> Take spark</button>
    </div>
    {{/if}}
  </div>
  {{/if}}
</section>
{{/unless}}